.hidden {
    display: none;
}
.section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.todo-item {
    display: flex;
    align-items: center;
}
.todo-item input[type="checkbox"] {
    margin: 0;
    margin-right: 10px;
}
.buttons {
    margin-top: 10px;
}
.todo-done {
    color: grey;
    text-decoration: line-through;
}
/* For do page */
#current-todo {
    margin-bottom: 20px;
}

#container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* For choose page */
#todo-list {
    margin-bottom: 20px;
}

body {
    /* background-color: #f0f0f0; */
}
